# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log
.yarnrc.yml
.yarnrc
.yarn/*
.pnp.js

# webstorm
.idea
.DS_Store
package.json.lerna_backup

.sweet
lib
./app
build
dist