.body
  padding: 10px
.o
  opacity: .2
.zhuyi
  padding: 20px 10px
  color: #f00
.noOption
  position: absolute
  z-index: 1
  top: 30px
  left: 0
  right: 0
  bottom: 0
  font-size: 17px
  line-height: 190px
  color: #fff
  text-align: center
  background-color: rgba(0, 0, 0, .6)
.changeOption
  margin-bottom: 20px
.select
  width: 600px
/* detail */
.detail
  border-collapse: collapse
  td
    padding: 15px 10px
    border: 1px solid #d9d9d9
.tdGTitle, .tdTitle
  font-weight: bold
.tdGTitle
  background-color: #e8eef7
.on
  color: #52d938
.off
  color: #f00
.td1
  width: 150px
.td2
  width: 350px