.form
  padding: 30px 150px 30px 50px
.affix
  position: absolute
  top: 25px
  right: 30px
.saveBtn
  margin-bottom: 15px
.title
  padding: 15px 0 10px
  font-size: 14px
  font-weight: bold
.template
  float: left
  width: 800px
  font-size: 14px
.mb15
  margin-bottom: 15px !important
.shuoming
  float: left
  margin-left: 20px
  line-height: 22px
.line
  border: none
  margin: 25px 0 20px
  height: 2px
  background-color: #108ee9
/* 自定义配置 */
$w: 500px
.customProfiles
  padding-left: $w
.customProfilesForm, .customProfilesList
  float: left
.customProfilesForm
  width: $w
  margin-left: -$w
.customProfilesList
  width: 100%
.customProfilesLB
  display: block
  margin-bottom: 10px